.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #f8f8f8;
}
.item {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  cursor: pointer;

}
.link {
  color: #bec0c9;
  font-size: 1.1rem;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: .6rem;
}

.link i {
  vertical-align: text-bottom;
  padding-right: .3rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.linkActive {
  color: #d95124;
  border-bottom: 2px solid #ee4b24;
}
